# Pre-Processing

Importing libraries and loading data:

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split

In [2]:
df= pd.read_csv('data_EDA.csv')

In [3]:
df.head()

,SalePrice,OverallCond,YearBuilt,MasVnrArea,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageArea,SaleCondition,SaleType,KitchenQual,BsmtQual,ExterQual,Neighborhood,MSZoning
0,208500,5,2003,196.0,856,1710,2,8,548,Normal,WD,Gd,Gd,Gd,CollgCr,RL
1,181500,8,1976,0.0,1262,1262,2,6,460,Normal,WD,TA,Gd,TA,Veenker,RL
2,223500,5,2001,162.0,920,1786,2,6,608,Normal,WD,Gd,Gd,Gd,CollgCr,RL
3,140000,5,1915,0.0,961,1717,1,7,642,Abnorml,WD,Gd,TA,TA,Crawfor,RL
4,250000,5,2000,350.0,1145,2198,2,9,836,Normal,WD,Gd,Gd,Gd,NoRidge,RL

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SalePrice      1460 non-null   int64
 1   OverallCond    1460 non-null   int64
 2   YearBuilt      1460 non-null   int64
 3   MasVnrArea     1460 non-null   float64
 4   1stFlrSF       1460 non-null   int64
 5   GrLivArea      1460 non-null   int64
 6   FullBath       1460 non-null   int64
 7   TotRmsAbvGrd   1460 non-null   int64
 8   GarageArea     1460 non-null   int64
 9   SaleCondition  1460 non-null   object
 10  SaleType       1460 non-null   object
 11  KitchenQual    1460 non-null   object
 12  BsmtQual       1460 non-null   object
 13  ExterQual      1460 non-null   object
 14  Neighborhood   1460 non-null   object
 15  MSZoning       1460 non-null   object
dtypes: float64(1), int64(8), object(7)
memory usage: 182.6+ KB

In [7]:
numeric_df=df.select_dtypes(include=np.number)

In [8]:
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SalePrice     1460 non-null   int64
 1   OverallCond   1460 non-null   int64
 2   YearBuilt     1460 non-null   int64
 3   MasVnrArea    1460 non-null   float64
 4   1stFlrSF      1460 non-null   int64
 5   GrLivArea     1460 non-null   int64
 6   FullBath      1460 non-null   int64
 7   TotRmsAbvGrd  1460 non-null   int64
 8   GarageArea    1460 non-null   int64
dtypes: float64(1), int64(8)
memory usage: 102.8 KB

In [12]:
numeric_df.head()

,SalePrice,OverallCond,YearBuilt,MasVnrArea,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageArea
0,208500,5,2003,196.0,856,1710,2,8,548
1,181500,8,1976,0.0,1262,1262,2,6,460
2,223500,5,2001,162.0,920,1786,2,6,608
3,140000,5,1915,0.0,961,1717,1,7,642
4,250000,5,2000,350.0,1145,2198,2,9,836

In [9]:
object_df=df.select_dtypes(exclude=np.number)

In [10]:
object_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SaleCondition  1460 non-null   object
 1   SaleType       1460 non-null   object
 2   KitchenQual    1460 non-null   object
 3   BsmtQual       1460 non-null   object
 4   ExterQual      1460 non-null   object
 5   Neighborhood   1460 non-null   object
 6   MSZoning       1460 non-null   object
dtypes: object(7)
memory usage: 80.0+ KB

In [11]:
object_df.head()

  SaleCondition SaleType KitchenQual BsmtQual ExterQual Neighborhood MSZoning
0        Normal       WD          Gd       Gd        Gd      CollgCr       RL
1        Normal       WD          TA       Gd        TA      Veenker       RL
2        Normal       WD          Gd       Gd        Gd      CollgCr       RL
3       Abnorml       WD          Gd       TA        TA      Crawfor       RL
4        Normal       WD          Gd       Gd        Gd      NoRidge       RL

In [17]:
scaler = StandardScaler()
scaled_df = scaler.fit_transform(numeric_df)
names=numeric_df.columns
scaled_df = pd.DataFrame(scaled_df, columns=names) 
scaled_df.head()

,SalePrice,OverallCond,YearBuilt,MasVnrArea,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageArea
0,0.347273,-0.517200,1.050994,0.514104,-0.793434,0.370333,0.789741,0.912210,0.351000
1,0.007288,2.179628,0.156734,-0.570750,0.257140,-0.482512,0.789741,-0.318683,-0.060731
2,0.536154,-0.517200,0.984752,0.325915,-0.627826,0.515013,0.789741,-0.318683,0.631726
3,-0.515281,-0.517200,-1.863632,-0.570750,-0.521734,0.383659,-1.026041,0.296763,0.790804
4,0.869843,-0.517200,0.951632,1.366489,-0.045611,1.299326,0.789741,1.527656,1.698485

In [18]:
dummies=pd.get_dummies(object_df)
dummies.head()

,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleType_COD,SaleType_CWD,SaleType_Con,SaleType_ConLD,...,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [21]:
pp_df=pd.concat([scaled_df,dummies],axis=1)

In [22]:
pp_df.head()

,SalePrice,OverallCond,YearBuilt,MasVnrArea,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageArea,SaleCondition_Abnorml,...,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM
0,0.347273,-0.517200,1.050994,0.514104,-0.793434,0.370333,0.789741,0.912210,0.351000,0,...,0,0,0,0,0,0,0,0,1,0
1,0.007288,2.179628,0.156734,-0.570750,0.257140,-0.482512,0.789741,-0.318683,-0.060731,0,...,0,0,0,0,1,0,0,0,1,0
2,0.536154,-0.517200,0.984752,0.325915,-0.627826,0.515013,0.789741,-0.318683,0.631726,0,...,0,0,0,0,0,0,0,0,1,0
3,-0.515281,-0.517200,-1.863632,-0.570750,-0.521734,0.383659,-1.026041,0.296763,0.790804,1,...,0,0,0,0,0,0,0,0,1,0
4,0.869843,-0.517200,0.951632,1.366489,-0.045611,1.299326,0.789741,1.527656,1.698485,0,...,0,0,0,0,0,0,0,0,1,0

In [25]:
pp_df.shape

(1460, 67)

In [28]:
y=pp_df['SalePrice']
X=pp_df.loc[:, pp_df.columns!='SalePrice']
X.shape

(1460, 66)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,y ,
                                   random_state=42, 
                                   test_size=0.3, 
                                   shuffle=True)

In [33]:
print(X_train.head())
print(X_test.head())
print(y_train.head())
print(y_test.head())

      OverallCond  YearBuilt  MasVnrArea  1stFlrSF  GrLivArea  FullBath  \
135      0.381743  -0.041991    1.023321  1.343941   0.317031  0.789741
1452    -0.517200   1.117235   -0.127953 -0.234508  -0.844210 -1.026041
762     -0.517200   1.249718   -0.570750 -1.031495   0.060035  0.789741
932     -0.517200   1.150356    1.100811  1.920981   0.741550  0.789741
435      0.381743   0.819149   -0.570750 -0.868475   0.277053  0.789741

      TotRmsAbvGrd  GarageArea  SaleCondition_Abnorml  SaleCondition_AdjLand  \
135       0.296763    0.266783                      0                      0
1452     -0.934130    0.243389                      0                      0
762       0.296763    0.659799                      0                      0
932       0.912210    1.473904                      0                      0
435      -0.318683    0.360358                      0                      0

      ...  Neighborhood_SawyerW  Neighborhood_Somerst  Neighborhood_StoneBr  \
135   ...                     0                     0                     0
1452  ...                     0                     0                     0
762   ...                     0                     1                     0
932   ...                     0                     1                     0
435   ...                     0                     0                     0

      Neighborhood_Timber  Neighborhood_Veenker  MSZoning_C (all)  \
135                     0                     0                 0
1452                    0                     0                 0
762                     0                     0                 0
932                     0                     0                 0
435                     0                     0                 0

      MSZoning_FV  MSZoning_RH  MSZoning_RL  MSZoning_RM
135             0            0            1            0
1452            0            0            0            1
762             1            0            0            0
932             0            0            1            0
435             0            0            1            0

[5 rows x 66 columns]
      OverallCond  YearBuilt  MasVnrArea  1stFlrSF  GrLivArea  FullBath  \
892      2.179628  -0.273836   -0.570750 -0.244858  -0.851824 -1.026041
1105    -0.517200   0.752907    1.432909  0.872994   2.106483  0.789741
413      0.381743  -1.466183   -0.570750 -0.348363  -0.927971 -1.026041
522      1.280685  -0.803768   -0.570750 -0.410466   0.282764  0.789741
1036    -0.517200   1.183477   -0.183302  1.183509   0.199003  0.789741

      TotRmsAbvGrd  GarageArea  SaleCondition_Abnorml  SaleCondition_AdjLand  \
892      -0.318683   -0.977769                      0                      0
1105      1.527656    1.118318                      0                      0
413      -0.934130   -0.528608                      0                      0
522       0.296763   -0.247882                      0                      0
1036     -0.318683    2.054071                      0                      0

      ...  Neighborhood_SawyerW  Neighborhood_Somerst  Neighborhood_StoneBr  \
892   ...                     0                     0                     0
1105  ...                     0                     0                     0
413   ...                     0                     0                     0
522   ...                     0                     0                     0
1036  ...                     0                     0                     0

      Neighborhood_Timber  Neighborhood_Veenker  MSZoning_C (all)  \
892                     0                     0                 0
1105                    0                     0                 0
413                     0                     0                 0
522                     0                     0                 0
1036                    1                     0                 0

      MSZoning_FV  MSZoning_RH  MSZoning_RL  MSZoning_RM
892             0            0            1            0
1105            0            0            1            0
413             0            0            0            1
522             0            0            0            1
1036            0            0            1            0

[5 rows x 66 columns]
135    -0.087152
1452   -0.452321
762     0.431640
932     1.751285
435     0.391345
Name: SalePrice, dtype: float64
892    -0.332697
1105    1.814245
413    -0.830082
522    -0.276032
1036    1.694621
Name: SalePrice, dtype: float64

In [34]:
X_train.to_csv('X_train.csv', header=True, index=False)
X_test.to_csv('X_test.csv', header=True, index=False)
y_train.to_csv('y_train.csv', header=True, index=False)
y_test.to_csv('y_test.csv', header=True, index=False)